$bg-color: green;

body {
    background: $bg-color;
}

.demo {
    display: flex;
    z-index: 51;
    filter: 1;
}

.clients {
    color: white;
}

.demo2 {
    display: grid;
}

.demo2newdemo {
    display: grid;
}

.ekemon {
    display: grid;
}